<div class="row">
    <div class="input-field col s12">
        <input placeholder="Placeholder" id="topic_name" type="text" class="validate">
        <label for="topic_name">Topic Name</label>
    </div>
    <div class="input-field col s12">
        <button type="submmit">Create Topic</button>
    </div>
</div>
